
	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">首页信息管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/home/images" title="Default Theme">首页轮播图设定</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/admin/home/video" title="Default Theme">首页视频设定</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/admin/home/huaxu" title="Default Theme">首页左侧轮播广告</a>
							</li>
							<!--<li>
								<a class="set_theme" id="light_blue" href="/categories/kind/rank" title="Light Blue Theme">职位/职级设定</a>
							</li>-->
							
						</ul>
					</div>
				</div>
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">特色项目</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/projects" title="Default Theme">项目列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/projects/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>

				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">其他项目</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/projects/other" title="Default Theme">项目列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/projects/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>

				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">文章管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<%Article::KIND.each do |k,v|%>
							<li>
								<a class="set_theme" id="default" href="/admin/articles/<%=k%>" title="Default Theme"><%=v%></a>
							</li>
							<%end%>

							
							
							
						</ul>
					</div>
				</div>


			    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">专题管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/pages" title="Default Theme">专题列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/pages/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>
				 <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">疑问列表</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/questions" title="Default Theme">疑问列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/questions/new" title="Default Theme">添加疑问</a>
							</li>
							
							
						</ul>
					</div>
				</div>

					 <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">案例</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/cases" title="Default Theme">案例列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/cases/new" title="Default Theme">添加案例</a>
							</li>
							
							
						</ul>
					</div>
				</div>

				

			

				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">单页管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/pages" title="Default Theme">单页列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/pages/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>
		

		
			
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">日历</div>
					<div class="portlet-content">
						<div id="datepicker"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

<script>
 	$('#datepicker').datepicker({
  		inline: true
    	});
</script>
