
	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">首页信息管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/home/images" title="Default Theme">首页轮播图设定</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/admin/home/video" title="Default Theme">首页视频设定</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/admin/home/huaxu" title="Default Theme">首页左侧轮播广告</a>
							</li>
							<!--<li>
								<a class="set_theme" id="light_blue" href="/categories/kind/rank" title="Light Blue Theme">职位/职级设定</a>
							</li>-->
							
						</ul>
					</div>
				</div>
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">特色项目</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/projects" title="Default Theme">项目列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/projects/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>

				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">其他项目</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/projects" title="Default Theme">项目列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/projects/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>


				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">成功案例</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li style="font-size:12px;letter-spacing : 2px; line-height:14px;padding-bottom:5px">
								主要是标记每年的公休假其中包括周六日倒休上班的设定，用于请假系统的时间自动计算
							</li>
							<li style="margin-top:5px">
								<a class="set_theme" id="light_blue" href="/date_settings/is_work/rest" title="Light Blue Theme">成功案例列表</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/date_settings/is_work/work" title="Light Blue Theme">添加成功案例</a>
							</li>
						</ul>
					</div>
				</div>


				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">单页管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/pages" title="Default Theme">单页列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/pages/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>

			    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">专题管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/admin/pages" title="Default Theme">专题列表</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/admin/pages/new" title="Default Theme">添加特色项目</a>
							</li>
							
							
						</ul>
					</div>
				</div>
		
			
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">日历</div>
					<div class="portlet-content">
						<div id="datepicker"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

<script>
 	$('#datepicker').datepicker({
  		inline: true
    	});
</script>
