	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">请假流程</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/leaves/new" title="Default Theme">申请</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/leaves" title="Light Blue Theme">提交</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/leaves/receive" title="Light Blue Theme">收到</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
    </div>