<%=stylesheet_link_tag "nrstyle", "data-turbolinks-track" => true %>
<div class="in_nr">
  <div class="blank30"></div>
  <div class="width1000">
    <%=raw @project.content.try(:body)%>
   <%=render "facial_left"%>
</div>
</div>