<%=stylesheet_link_tag "nrstyle", "data-turbolinks-track" => true %>
<div class="in_nr">
  <div class="blank30"></div>
  <div class="width1000">
    <article class="nr_dy">
    <header class="mbx"> 您当前的位置：<a href="#">首页</a> > <a href="#">其他项目</a> > <a href="#">眼部整形</a> </header>
    <h1 class="ybzxH1">眼部整形</h1>
    <div class="ybzx_mes"> <img src="/images/img12.png" width="250" height="172" alt="">
      <p>眼部整形手术是通过手术的方式让眼睛变大、形成双眼皮、矫正上睑下垂、改善眼部皮肤等，从而让眼睛变美，让脸部五官更加协调，最终达到美丽的蜕变。</p>
      <p>黄金间距：上眼缘与眉毛间距约为10mm。两眼内眦的间距应为两眼外眦间距的1/3或相当于一只眼的长度。</p>
      <p>黄金角度：内眦眼裂角为48°~55°，外眦眼裂角为60°~70°</p>
      <p>黄金高宽度：眼裂高度为10~12.5mm，眼裂宽度为30~34mm。</p>
    </div>
    <div class="blank30"></div>
    <h2 class="ybzxh2">相关项目</h2>
    <div class="blank30"></div>
    <ul class="ybzx_ul">
      <li>
        <div class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
      <li>
        <div  class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
      <li>
        <div  class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
      <li>
        <div  class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
      <li>
        <div  class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
      <li>
        <div  class="tr1s"><a href="#"><img src="/images/img13.png" width="65" height="65" alt=""></a></div>
        <h3><a href="#">双眼皮</a></h3>
      </li>
    </ul>
    <div class="blank30"> </div>
    <h2 class="yszjalH2">项目疑问 Project Question </h2>
    <div class="blank10"></div>
    <ul class="ysxmH2_ul">
      <li> <a  href="#"><img src="/images/img36.png" width="148" height="108" alt=""></a>
        <div> <i>01</i>
          <h3>私属定制，韩国进口器材</h3>
          <p>韩国特供眼部精细整形器材，私属定制，专人专用，为眼部精细化整形保驾护航。</p>
        </div>
      </li>
      <li>  <a  href="#"><img src="/images/img36.png"  width="148" height="108" alt=""></a>
        <div> <i>02</i>
          <h3>私属定制，韩国进口器材</h3>
          <p>韩国特供眼部精细整形器材，私属定制，专人专用，为眼部精细化整形保驾护航。</p>
        </div>
      </li>
      <li>  <a  href="#"><img src="/images/img36.png"  width="148" height="108" alt=""></a>
        <div> <i>03</i>
          <h3>私属定制，韩国进口器材</h3>
          <p>韩国特供眼部精细整形器材，私属定制，专人专用，为眼部精细化整形保驾护航。</p>
        </div>
      </li>
    </ul>
    <div class="blank30"></div>
  <!--  <h2 class="yszjalH2"> 专家团队 </h2>
    <div class="blank20"></div>
   <ul class="zjtd_ul">
      <li> <a href="#"><img src="/images/img15.png" width="214" height="220" alt=""> </a>
        <h3><a href="#">邵大山</a> 韩国金牌整形专家</h3>
        <p> 擅长：自体脂肪丰胸，假体隆胸、各
          式方法重睑各种方法眼袋去除术、买
          不发杂畸形矫正术等。 </p>
        <div class="in_zjcard_zx"> <a href="#"  class="tr1s">在线咨询</a> <a href="#" class="tr1s">在线预约</a> </div>
      </li>
      <li> <a href="#"><img src="/images/img15.png" width="214" height="220" alt=""> </a>
        <h3><a href="#">邵大山</a> 韩国金牌整形专家</h3>
        <p> 擅长：自体脂肪丰胸，假体隆胸、各
          式方法重睑各种方法眼袋去除术、买
          不发杂畸形矫正术等。 </p>
        <div class="in_zjcard_zx"> <a href="#"  class="tr1s">在线咨询</a> <a href="#" class="tr1s">在线预约</a> </div>
      </li>
      <li> <a href="#"><img src="/images/img15.png" width="214" height="220" alt=""> </a>
        <h3><a href="#">邵大山</a> 韩国金牌整形专家</h3>
        <p> 擅长：自体脂肪丰胸，假体隆胸、各
          式方法重睑各种方法眼袋去除术、买
          不发杂畸形矫正术等。 </p>
        <div class="in_zjcard_zx"> <a href="#"  class="tr1s">在线咨询</a> <a href="#" class="tr1s">在线预约</a> </div>
      </li>
    </ul>-->
    
    <h2 class="yszjalH2"> 案例对比 </h2>
    <div class="blank20"></div>
    <div class="aldbH2_box">
      <ul class="aldb_ul" id="aldb_ul">
        <li>
          <div class="aldb_border">
            <div  class="beforeimg"> <img src="/images/img06.gif"  width="150" height="180" alt=""><span class="tr1s"><a href="#">before</a></span> </div>
            <div class="afterimg"> <img src="/images/img07.gif"   width="150" height="180" alt=""> <span class="tr1s"><a href="#">after</a></span> </div>
          </div>
          <h2><a href="#">蝶变故事</a></h2>
        </li>
        <li>
          <div class="aldb_border">
            <div  class="beforeimg"> <img src="/images/img06.gif"  width="150" height="180" alt=""><span class="tr1s"><a href="#">before</a></span> </div>
            <div class="afterimg"> <img src="/images/img07.gif"   width="150" height="180" alt=""> <span class="tr1s"><a href="#">after</a></span> </div>
          </div>
          <h2><a href="#">蝶变故事</a></h2>
        </li>
        <li>
          <div class="aldb_border">
            <div  class="beforeimg"> <img src="/images/img06.gif"  width="150" height="180" alt=""><span class="tr1s"><a href="#">before</a></span> </div>
            <div class="afterimg"> <img src="/images/img07.gif"   width="150" height="180" alt=""> <span class="tr1s"><a href="#">after</a></span> </div>
          </div>
          <h2><a href="#">蝶变故事</a></h2>
        </li>
        <li>
          <div class="aldb_border">
            <div  class="beforeimg"> <img src="/images/img06.gif"  width="150" height="180" alt=""><span class="tr1s"><a href="#">before</a></span> </div>
            <div class="afterimg"> <img src="/images/img07.gif"   width="150" height="180" alt=""> <span class="tr1s"><a href="#">after</a></span> </div>
          </div>
          <h2><a href="#">蝶变故事</a></h2>
        </li>
        <li>
          <div class="aldb_border">
            <div  class="beforeimg"> <img src="/images/img06.gif"  width="150" height="180" alt=""><span class="tr1s"><a href="#">before</a></span> </div>
            <div class="afterimg"> <img src="/images/img07.gif"   width="150" height="180" alt=""> <span class="tr1s"><a href="#">after</a></span> </div>
          </div>
          <h2><a href="#">蝶变故事</a></h2>
        </li>
      </ul>
      <div class="aldb_left"></div>
      <div class="aldb_right"></div>
    </div>
    
 
 
  </article>
   <%=render "facial_left"%>
</div>
</div>