
<div class="park03 person_card width1000">
<div>
	<h1 class="width1000"><img src="/special_projects/1/images/h1_3.png" width="1000" height="95" alt="邵氏无痕开眼角技术优势"></h1>
	</div>
		<div class="section_box">
		<div class="blank30"></div>
<div class="blank20"></div>	
<%#=render "person_card"%>



<div class="person_card_left">
	<a href="#">
       <img src="/special_projects/publicimg/sds.png" width="336" height="436" alt="邵大山">   	
	</a>
</div>

<div class="person_card_right">
   <h2><img src="/special_projects/publicimg/h2_5.png"></h2>
    <div class="person_card_des">
    	<hgroup>
    		<h3>医学整形激光美容中心副主任</h3>
            <h3>  眼部精雕大师</h3>
             <h3> 国际医学美容学会会员</h3>
    	</hgroup>
    	
    </div>
    <div class="blank20"></div>
   <h2 class="person_card_scjs">擅长技术</h2> 
    <div class="blank20"></div>
    <p>拥有16多年的从业经验，多年来致力研究东方女性的面部轮廓，提出“个性化定制整形”理念。在面部骨骼、面部除皱、眼部整形、鼻部整形、乳房整形、吸脂减肥等方面总结出一套自己独特的手术方法。
主攻方向：韩式面部轮廓精雕、韩式智能编码改脸型、韩式下颌角精细化定量整形、个性化面部骨性结构的整形。“U”型流线式无痕上下及内外眼角的综合整形、无假体式纯自体材料隆鼻。</p>
<div class="blank30"></div>
<!--<ul class="zxyy">
	<li>
		<a href="#"  class="zxzx">在线咨询</a>	
	</li>
	<li>
		<a href="#" class="yyzj">预约专家</a>
	</li>
</ul>-->

</div>
<div class="blank20"></div>
   

	</div>
</div>