<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<div class="banner"> <a href="#"> <img src="/special_projects/8/images/banner01.png" width="100%"> </a> </div>
<div class="blank20"></div>
<div class="this_wrap">
	<section class="park01">
		<header>
			<h1><img src="/special_projects/8/images/h1_1.png" alt="邵氏微创双平面隆乳术介绍及特点" width="1000" height="54" usemap="#Map">
              <map name="Map">
                <area shape="rect" coords="893,13,1001,40" href="#">
              </map>
			</h1>
		</header>
		<div class="section_box">
				<div class="blank20"></div>
			<div class="park01_left">
				
				<img src="/special_projects/8/images/img01.png" width="236" height="285" alt="邵氏微创双平面隆乳术介绍及特点">
			</div>
			<div class="park01_right">
				<p>邵主任韩式微创双平面隆乳术，采用微创技术，小切口，将胸大肌上下层次剥离，使胸大肌有效分离，假体放置后，空间充裕，乳房上班不饱满丰润，动感十足。</p>
				<div class="blank30"></div>
				<div class="blank30"></div>
				<ul>
				<li><i>1</i>手术乳房形态饱满丰润，动感十足。</li>	
				<li><i>2</i>充分分离胸大肌，使乳房上半部分充盈丰满。</li>	
				<li><i>3</i>手术切口微创，愈合迅速，损伤小恢复快。</li>	
					
				</ul>
			</div>
			
			<div class="blank20"></div>
		</div>
		
	</section>
	<div class="blank30"></div>
	
	<section class="park02">
		<header>
			<h1><img src="/special_projects/8/images/h1_2.png" alt="邵氏微创双平面隆乳术经典案例" width="1000" height="54" usemap="#Map2">
              <map name="Map2">
                <area shape="rect" coords="893,15,1000,42" href="#">
              </map>
			</h1>
		</header>
		<div class="section_box">
		<div class="blank30"></div>
		<ul>
			<li>
				<a href="#"><img src="/special_projects/8/images/img02.png" width="235" height="242" alt="经典案例">	</a>
					<h2><a href="#">姓名：刘丽</a></h2>
					
			
				
			</li>
			<li>
				<a href="#"><img src="/special_projects/8/images/img03.png" width="235" height="242" alt="经典案例"></a>
					<h2><a href="#">姓名：刘丽</a></h2>
					
			
				
			</li>
			<li>
				<a href="#"><img src="/special_projects/8/images/img04.png" width="235" height="242" alt="经典案例">
					<h2><a href="#">姓名：刘丽</a></h2>
					
		
				
			</li>
			<li>
				<a href="#"><img src="/special_projects/8/images/img05.png" width="235" height="242" alt="经典案例"></a>
					<h2><a href="#">姓名：刘丽</a></h2>
					
				
				
			</li>
			
		</ul>
		<div class="blank30"></div>
		<div class="blank10"></div>
		</div>
	</section>
	<div class="blank30"></div>
	
	<div class="park03 person_card">
			<header>
			<h1><img src="/special_projects/8/images/h1_3.png" alt="邵氏微创双平面隆乳术     权威专家" width="1000" height="54" usemap="#Map3">
              <map name="Map3">
                <area shape="rect" coords="892,15,998,43" href="#">
              </map>
			</h1>
		</header>
		
		<div class="section_box">
		<div class="blank30"></div>
<div class="blank20"></div>	

   <%=render "/projects/person_card"%>
<div class="blank30"></div>
<div class="blank30"></div>
	</div>
		
	</div>
	
	
</div>
<div class="blank20"></div>