<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<div class="banner"> <a href="#"> <img src="/special_projects/7/images/banner01.png" width="100%"> </a> </div>
<div class="blank30"></div>
<section class="park01">
	<div class="auto1000">
		<div class="park01_left">
		<header>
			<h1><img src="/special_projects/7/images/h1_1.png" width="425" height="40" alt="邵氏多维形体雕塑术"></h1>
		</header>
		<div class="blank20"></div>
			<p>邵主任被称为脂肪移植的魔术师，邵氏多维形体雕塑术是通过光纤溶脂和
				水动力两种技术，光纤溶脂通过光纤的作用溶解脂肪，损伤小恢复快。水动力吸脂
				，有利于医生操作脂肪移植术。邵氏多维形体雕塑术可以有效抽取身体局部多余的脂肪，分层处
				理不同的脂肪部位，多层次多维度解决身体局部脂肪堆积问题。</p>
		<div class="blank20"></div>
			<div class="blank20"></div>
			<a href="#" class="park01_zzxz">在线咨询</a>
		</div>
		<div class="park01_right">
			 <img src="/special_projects/7/images/img01.png" width="266" height="235" alt="邵氏多维形体雕塑术">
		</div>
		
		
	</div>
</section>
<div class="blank30"></div>

<section class="park02">
	<div class="width1000">
		<header>
			<h1><img src="/special_projects/7/images/h1_2.png" width="1000" height="54" alt="邵氏多维形体雕塑术经典案例"></h1>
		</header>
		<div class="blank20"></div>
		<ul>
			<li>
            <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			 
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			<li>
			 <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			<li>
			 <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			<li>
			 <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			<li>
			  <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			<li>
			 <div class="park02_img">
              <div class="before">
                <img src="/special_projects/7/images/beforeimg.png" width="137" height="126" alt="">
                <span>before</span>
              </div>
              <div class="after">
               <img src="/special_projects/7/images/afterimg.png" width="137" height="126" alt="">
                <span>after</span>
              </div>
            </div>
			  <h2><a href="#">大腿吸脂前后对比</a></h2>	
			</li>
			
		</ul>
		<div class="blank20"></div>
	</div>
	
	
</section>

<section class="park03">
	<div class="width1000">
		<header>
		<h1><img src="/special_projects/7/images/h1_3.png" width="1000" height="54" alt="邵氏多维形体雕塑术特点"></h1>
		</header>
		<div class="blank10"></div>
		
		<ul>
			<li>
				<h2><i>No.1</i>损伤小恢复快，术后不留痕迹</h2>
				<img src="/special_projects/7/images/img03.png">
				
			</li>
			<li>
				<h2><i>No.2</i>有效保持皮肤弹力弹性，避免凹凸不平。</h2>
				<img src="/special_projects/7/images/img04.png">
				
			</li>
			<li>
				<h2><i>No.3</i>塑造完美身体曲线，手术后绝不反弹。</h2>
				<img src="/special_projects/7/images/img05.png">
				
			</li>
			
		</ul>
		<div class="blank20"></div>
	</div>
	
</section>

<div class="blank20"></div>
<section class="park04 person_card">
	<div class="width1000">
	<header><h1><img src="/special_projects/7/images/h1_4.png" alt="邵氏鼻综合整形术 — 权威专家"></h1></header>
<div class="blank30"></div>
<div class="blank20"></div>	

 <%=render "/projects/person_card"%>
<div class="blank30"></div>
<div class="blank30"></div>
	</div>
</section>

