<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<div class="banner"> <a href="#"> <img src="/special_projects/2/images/banner01.png" width="100%"> </a> </div>
<section class="park01 width1000">
	<header>
		<h1><img  src="/special_projects/2/images/h1_1.png" width="998" height="95" alt="邵氏无痕重睑术    即刻拥有美丽容颜"></h1>
	</header>
	<div class="blank20"></div>
	<div class="park01_1">
		<div class="park01_1_left">
			<p>邵氏无痕重睑手术非常精细，会根据患者不同的眼部情况，为患者综合设
				计。首先根据眼睑的状态来确定是否需要调整上睑脂肪，是否调整上睑松
				弛的皮肤，是否调整上睑眼轮匝肌厚度，是否要去掉多余的睑板组织，是
				否需要调整上睑提肌力量，是否要调整睑裂长度。根据不同的手术情况选择不同的手术方式。
				邵氏无痕重睑术手术时间30分钟，手术后五天拆线，手术后一周即可恢复。</p>
				<div class="blank20"></div>
				<a href="#"  class="more">了解更多详情，GO</a>
		</div>
		<div class="park01_1_right">
			<img src="/special_projects/2/images/img01_01.png" width="198" height="172" alt="">
            <img src="/special_projects/2/images/img01_02.png" width="198" height="172" alt="">
			
		</div>
	<div class="blank20"></div>
		
	</div>
		<div class="blank30"></div>
	<h1><img src="/special_projects/2/images/h1_1_2.png" width="998" height="52" alt="邵氏无痕重睑术  —— 经典案例"></h1>
	<ul>
			<li>
            <div class="park01_sq">
              <img src="/special_projects/2/images/img04_01.png" width="146" height="180" alt="">
              <h2 class="ie6png">术前</h2>
            </div>
            <div class="park01_sh">
             <img src="/special_projects/2/images/img04_02.png" width="146" height="180" alt="">
             <h2 class="ie6png">术后</h2>
            </div>
            
            </li>
			<li>
             <div class="park01_sq">
              <img src="/special_projects/2/images/img05_01.png" width="146" height="180" alt="">
              <h2 class="ie6png">术前</h2>
            </div>
            <div class="park01_sh">
             <img src="/special_projects/2/images/img05_02.png" width="146" height="180" alt="">
             <h2 class="ie6png">术后</h2>
            </div>
            </li>
			<li>
             <div class="park01_sq">
              <img src="/special_projects/2/images/img06_01.png" width="146" height="180" alt="">
              <h2 class="ie6png">术前</h2>
            </div>
            <div class="park01_sh">
             <img src="/special_projects/2/images/img06_02.png" width="146" height="180" alt="">
             <h2 class="ie6png">术后</h2>
            </div>
            </li>
		</ul>
		<div class="blank20"></div>
		<a href="" class="zxzx"><img src="/special_projects/2/images/zxzx.png" alt="在线咨询"></a>
		<div class="blank20"></div>
	
</section>

<div class="blank30"></div>
<section class="park02  width1000">
	<header>
		<h1><img  src="/special_projects/2/images/h1_2.png" width="998" height="95" alt="邵氏无痕重睑术技术特点"></h1>
	</header>
	<div class="blank20"></div>
	<ul>
		<li class="park02_01">
        
        <p>拥有自然双眼皮，弧线流畅，闭眼后也不显露痕迹。</p>
    
        <img src="/special_projects/2/images/img07.png" width="191" height="123" alt="拥有自然双眼皮，弧线流畅，闭眼后也不显露痕迹。">
        </li>
		<li  class="park02_02">
         <p>有效改善皮肤松弛下垂状态。</p>
        <img src="/special_projects/2/images/img08.png" width="191" height="123" alt="有效改善皮肤松弛下垂状态。"></li>
		<li  class="park02_03">
         <p>重睑术后眼睑睫毛90度上翘，美观自然。</p>
        <img src="/special_projects/2/images/img09.png" width="191" height="123" alt="重睑术后眼睑睫毛90度上翘，美观自然。"></li>
		<li  class="park02_04">
         <p>改善臃肿的上睑，去除脂肪和肌肉</p>
        <img src="/special_projects/2/images/img10.png" width="191" height="123" alt="改善臃肿的上睑，去除脂肪和肌肉。"></li>
		
	</ul>
	
	<div class="blank30"></div>
	
	
</section>
<div class="blank30"></div>

<section class="park03 person_card width1000">
	<header>
		<h1><img  src="/special_projects/2/images/h1_3.png" width="998" height="95" alt="邵氏无痕重睑术——权威专家"></h1>
	</header>
	
			<div class="section_box">
		<div class="blank30"></div>
<div class="blank20"></div>	



<%=render "/projects/person_card"%>
<div class="blank30"></div>
<div class="blank30"></div>
	</div>
</section>






<div class="blank20"></div>