<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<div class="banner"> <a href="#"> <img src="/special_projects/5/images/banner01.png" width="100%"> </a> </div>
<div class="blank20"></div>
<div class="this_wrap">
<section class="park01">
	<header>
		<h1><img src="/special_projects/5/images/bk01.png" alt="邵氏微创面部提升术" width="996" height="64" usemap="#Map">
          <map name="Map">
            <area shape="rect" coords="852,15,981,52" href="#">
          </map>
		</h1>
	</header>
	 <div class="section_box">
	   <div class="park01_left">
	   	<p>邵氏微创面部提升术：针对于容易出现的面颊和鼻唇沟，口角的皮肤松弛，无需削骨就可以达到V型脸的效果。通
	   		过采用特殊的弹力线，在颞部发际内很小的切口，无需缝合和拆线，就可以有效的解决面颊皮肤松弛，提升口角
	   		鼻唇沟松弛皮肤，改善因为削骨带来的面部皮肤松弛。</p>
	   	<img src="/special_projects/5/images/img09.png" width="162" height="99" alt="">	
	   </div>
	   <div class="park01_right">
	   	
	   	<img src="/special_projects/5/images/img01.png" width="288" height="150" alt="">
	   </div>
	 <div class="blank10"></div>
	 <div class="park01_foot">
	    <img src="/special_projects/5/images/img07.png">
        <a class="park01_foot_tel" href="">400-000-0000</a>
	 </div>
	 </div>
	 
	 
</section>
<div class="blank30"></div>
<section class="park02">
	<header>
		<h1><img src="/special_projects/5/images/bk02.png" alt="实例见证" width="996" height="64" usemap="#Map2">
          <map name="Map2">
            <area shape="rect" coords="854,15,983,51" href="#">
          </map>
		</h1>
	</header>
	
	 <div class="section_box park02_content">
	 	<div class="blank30"></div>
	 <ul>
	 	<li><img src="/special_projects/5/images/img02.png"> 
         <span class="artical_span park02_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a>
           </li>
	 		<li><img src="/special_projects/5/images/img03.png"> 
         <span class="artical_span park02_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 			<li><img src="/special_projects/5/images/img04.png"> 
         <span class="artical_span park02_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 				<li><img src="/special_projects/5/images/img05.png"> 
         <span class="artical_span park02_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 	
	 	
	 </ul>
	 </div>
<div class="blank30"></div>
</section>

<div class="blank30"></div>

<section class="park03">
		<header>
		<h1><img src="/special_projects/5/images/bk03.png" width="996" height="64" alt="邵氏微创面部提升术的手术特点"></h1>
	</header>
	<div class="section_box park03_content">
	<div class="park03_left">
		<div  class="blank20"></div>
		<ul>
			<li>1、手术微创，无疤痕遗留，效果持久，恢复快，无需拆线，3~5天后即可洗头。</li>
			<li>2、可以改善鼻唇沟面颊的皮肤松弛，有效提升面颊部SMAS筋膜，改善下垂的脸型。</li>
		</ul>
		
	</div>
	<div class="park03_right">
		<a href="#">
			<img src="/special_projects/5/images/img06.png" width="150" height="166" alt="在线咨询">
		</a>
		
	</div>
	</div>
	
</section>
<div class="blank30"></div>
<section class="park04">
	<header>
		<h1><img src="/special_projects/5/images/bk04.png" width="996" height="64" alt="邵大山 —— 权威专家"></h1>
	</header>
	<div class="section_box">
		<div class="blank30"></div>
<div class="blank20"></div>	
<%=render "/projects/person_card"%>
<div class="blank30"></div>
<div class="blank30"></div>
	</div>
</section>
</div>

