<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<div class="banner"> <a href="#"> <img src="/special_projects/6/images/banner01.png" width="100%"> </a> </div>
<div class="this_wrap">
	<div class="blank30"></div>
<section class="park01">
	<header>
		<h1> <img src="/special_projects/6/images/h1_1.png" alt="邵氏自体脂肪移植术" width="986" height="56" usemap="#Map">
          <map name="Map">
            <area shape="rect" coords="844,11,970,43" href="#">
          </map>
		</h1>
	</header>
	<div class="park01_left">
		<div class="blank20"></div>
		<p>邵主任被称为自体脂肪移植魔术师，邵氏自体脂肪移植技术是采用专业技术来进行自体脂肪细胞的
			分离，超低温冷冻保存技术，抽取腹部大腿臀部的脂肪，提过提纯脂肪，离心干细胞，再将脂肪和干
			细胞的混合液注射在额头、颞部、眼窝、眉弓、鼻唇沟、苹果肌、面颊、下巴、乳房、臀部，手指等不同需要脂肪移植的部位。</p>
		
	</div>
	<div class="park01_right">
		<div class="blank10"> </div>
		<img src="/special_projects/6/images/img01.png" width="302" height="164" alt="邵氏自体脂肪移植术">
		
	</div>
	
	<div class="blank20"></div>
</section>

<section class="park02">
	<header>
	  	<h1><img src="/special_projects/6/images/h1_2.png" width="502" height="56" alt=""></h1>
	</header>
	<div class="blank20"></div>
	<ul>
		<li><i>01</i><h2>手术后脂肪细胞成活率，血管生长率优秀。</h2></li>
			<li><i>02</i><h2>手术后脂肪细胞成活率，血管生长率优秀。</h2></li>
				<li><i>03</i><h2>手术后脂肪细胞成活率，血管生长率优秀。</h2></li>
					<li><i>04</i><h2>手术后脂肪细胞成活率，血管生长率优秀。</h2></li>
	</ul>
  <div class="blank20"></div>
	
</section>
<div class="blank30"></div>

<section class="park03">
	<header>
	  	<h1><img src="/special_projects/6/images/h1_3.png" alt="实例见证" width="986" height="56" usemap="#Map2">
          <map name="Map2">
            <area shape="rect" coords="844,9,970,43" href="#">
          </map>
	  	</h1>
	</header>
	<div class="blank30"></div>
	
	<ul>
			<li><img src="/special_projects/6/images/img02.png"> 
         <span class="artical_span park03_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a>
           </li>
	 		<li><img src="/special_projects/6/images/img03.png"> 
         <span class="artical_span park03_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 			<li><img src="/special_projects/6/images/img04.png"> 
         <span class="artical_span park03_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 				<li><img src="/special_projects/6/images/img05.png"> 
         <span class="artical_span park03_span ie6png"></span>
           <h2> 刘丽</h2>
           <a href="#"></a></li>
	 	
	</ul>
	
	<div class="blank30"></div>
	<div class="blank30"></div>
</section>

<section class="park04 person_card">
	<header>
	  	<h1><img src="/special_projects/6/images/h1_4.png" width="986" height="56" alt="邵大山 —— 权威专家"></h1>
	</header>
	
		
			<div class="section_box">
		<div class="blank30"></div>
<div class="blank20"></div>	

    <%=render "/projects/person_card"%>
<div class="blank30"></div>
<div class="blank30"></div>

</section>
</div>