<footer>
  <div class="foot_nav">
    <div class="width1000">
      <ul>
      	 <%@other_projects.each do |c|%>
        <li>
          <hgroup>
            <h2><%=link_to c.name,other_project_url(c)%></h2>
            <%c.children[0..7].each do |f|%>
            <h3><%=link_to f.name,other_project_url(f)%></h3>
            <%end%>
           
          </hgroup>
        </li>
        <%end%>
      
      
      </ul>
    </div>
  </div>
  <div class="foot_mes">
    <div class=" width1000">
      <div class="foot_logo"> <a href="#" class="tr1s"></a> </div>
    </div>
    <div class="foot_mes_right">
      <div class="foot_mes_nav">
        <ul>
          <li><a href="/">首页 </a></li>
          <li><a href="/about_shao">关于我们 </a></li>
          <li><a href="/projects/1">特色项目 </a></li>
          <li><a href="/facials/10">其他项目 </a></li>
          <li><a href="/dingzhi">定制美丽 </a></li>
          <li><a href="/cases">成功案例 </a></li>
          <li><a href="/contact_us">联系我们 </a></li>
        </ul>
      </div>
      <div class="foot_mes_lxwm">
        <address>
        地址：北京市  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;    电话：400-000-00000
        </address>
        <p>版权所有：美丽畅想美容整形医院   </p>
      </div>
    </div>
  </div>
</footer>