<header>
  <div class="in_top">
    <div class=" width1000">
      <p>欢迎光临美丽畅想美容整形医院！</p>
      <div class="in_top_wbwx">
        <ul>
          <li class="wbicon tr1s"><a href="#">官方微博</a></li>
          <li class="wxicon tr1s"><a href="#">官方微信</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="in_logotel">
    <div class="width1000">
      <div class="in_head_tel"><img src="/images/tel.png" width="190" height="102"> </div>
      <div class="in_head_logo">
        <h1><img src="/images/logo.png"  width="311" height="46"></h1>
      </div>
    </div>
  </div>
  <nav class="in_nav">
    <div class="width1000">
      <ul>
        <li><a href="/">首页</a></li>
        <li class="nav_havedown"><a href="/about_shao">关于我们</a>
          <div class="nav_down_box">
          <a href="/about_shao">邵大山主任</a>
          <a href="/about_hao">郝主任</a>
        
          </div>
        </li>
   

        <li class="nav_havedown"><a href="">特色项目</a>
            <div class="nav_down_box">
            	<%@special_projects.each do |project|%>
               <%=link_to project.name,project%>
               <%end unless @special_projects.blank? %>
            </div>
        </li>
        <li class="nav_havedown"><a href="">其他项目</a>
            <div class="nav_down_box">
            	<%@other_projects.each do |project|%>
               <%=link_to project.name,other_project_path(project)%>
               <%end unless @other_projects.blank? %>
            </div>
        </li>
      
        <li><a href="/dingzhi">定制美丽</a></li>
        <li><a href="/articles">学术交流</a></li>
        <li><a href="/case">成功案例</a></li>
        <li><a href="/contact_us">联系我们</a></li>
      </ul>
    </div>
  </nav>
</header>

<script>
$(document).ready(function(e) {

			
			//导航下拉
			$(".in_nav ul li.nav_havedown").hover(function(){
			   $(this).find(".nav_down_box").stop(true)
				$(this).find(".nav_down_box").slideDown(500);
				
				},function(){
				   
					$(this).find(".nav_down_box").slideUp(500)
					
					})
			
			
});

</script>